name: Build and Push Docker Images

on:
  push:
    branches:
      - main

jobs:

  build-backend:
    name: Build Backend Image
    runs-on: ubuntu-latest
    environment: Docker_cred

    steps:

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build backend image
        run: |
<<<<<<< HEAD
          docker build -t ${{ secrets.DOCKER_USERNAME }}/ums-backend-git:latest ./ums-backend
=======
          run: docker build -t ${{ secrets.DOCKER_USERNAME }}/ums-backend-git:latest ./ums-backend
>>>>>>> 61893b2 (Updated workflow)

      - name: Push backend image
        run: |
          docker push ${{ secrets.DOCKER_USERNAME }}/ums-backend-git:latest


  build-frontend:
    name: Build Frontend Image
    runs-on: ubuntu-latest

    steps:

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build frontend image
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/ums-frontend-git:latest ./ums-frontend

      - name: Push frontend image
        run: |
          docker push ${{ secrets.DOCKER_USERNAME }}/ums-frontend-git:latest

