name: Build and Push Docker Images

on:
  push:
    branches:
      - main

jobs:

  build-backend:
    name: Build Backend Image
    runs-on: ubuntu-latest

    steps:

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build backend image
        run: docker build -t reddychaithanya06/local-ums-backend-git:latest ./ums-backend

      - name: Push backend image
        run: docker push reddychaithanya06/local-ums-backend-git:latest


  build-frontend:
    name: Build Frontend Image
    runs-on: ubuntu-latest

    steps:

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build frontend image
        run: docker build -t reddychaithanya06/local-ums-frontend-git:latest ./ums-frontend

      - name: Push frontend image
        run: docker push reddychaithanya06/local-ums-frontend-git:latest

